guard/pages/components/__pycache__/__init__.cpython-37.pyc
guard/pages/components/__pycache__/menubar.cpython-37.pyc
guard/tests/base_test_case.py
guard/tests/module/__pycache__/__init__.cpython-37.pyc
guard/tests/module/__pycache__/test_tools.cpython-37-pytest-5.3.4.pyc
captcha.png
guard/__pycache__/
guard/data/portrait/face_property/__pycache__/
guard/pages/__pycache__/
guard/tests/__pycache__/
report/
utils/__pycache__/
guard/pages/classes/__pycache__/
guard/pages/components/__pycache__/
guard/tests/module/__pycache__/
guard/pages/classes/device/__pycache__/
guard/pages/classes/task/__pycache__/
.idea/misc.xml
.idea/modules.xml
.idea/seleniumbasedemo.iml
.idea/vcs.xml
.idea/

